{% load humanize %}
{% for node in object %}
<div class="feed">
	<p><h2><a href="/next/{{ node.id }}" target="_blank">{{ node.title }}</a></h2>
    	    {{ node.description|striptags|safe|truncatewords_html:30 }}<br><b>{{ node.date|naturaltime }} -  {{ node.sitename }}</b>
        </p>
                
</div>
{% endfor %}
<div id="more{{ last_id }}" class="morebox">
<a href="#more" id="{{ last_id }}" class="more">more</a>
</div>