{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
<html xmlns:fb="http://ogp.me/ns/fb#">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>EJU|News feed - {% block title %}{% endblock %}</title>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.0/jquery.min.js"></script>
    <link rel="shortcut icon" href="http://eju.org/sites/www.eju.org/themes/ecjc_main/images/favicon.ico" type="image/x-icon" />
    <link type="text/css" rel="stylesheet" media="screen, projection" href="http://www.eju.org/sites/www.eju.org/themes/ecjc_main/css/jquery.megamenu.css?N" />
    <link type="text/css" rel="stylesheet" media="screen, projection" href="http://eju.org/sites/www.eju.org/themes/ecjc_main/css/ecjc.css?N" />
    <link type="text/css" rel="stylesheet" media="screen, projection" href="http://eju.org/sites/www.eju.org/themes/ecjc_main/css/style.css?N" />
    <link type="text/css" rel="stylesheet" media="screen, projection" href="http://eju.org/sites/www.eju.org/themes/ecjc_main/css/reset.css?N" />
</head>
<body>
<script>
function toggleVisibility(newSection) {
    $("#" + newSection).toggle();
    }
</script>    
<style>


*{ margin:0px; padding:0px }
ol.timeline
{
list-style:none
}
ol.timeline li
{
position:relative;
border-bottom:1px #dedede dashed;
padding:8px;
}
.morebox
{
font-weight:bold;
color:#333333;
text-align:center;
border:solid 1px #333333;
padding:8px;
margin-top:8px;
margin-bottom:8px;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
widht: 120px;
}
.morebox a{ color:#333333; text-decoration:none}
.morebox a:hover{ color:#333333; text-decoration:none}



body {
    font: 14px/18px Arial,Tahoma,Verdana,sans-serif;
}

#header {
    background-image: url(http://www.eju.org/sites/www.eju.org/themes/ecjc_main/images/header_survey_bg.jpg);

}

.headline {
overflow: hidden;
padding-bottom: 20px;
border-bottom: 1px dotted #CCC;
margin-bottom: 20px;
}

.headline .feed {
float: left;
width: 48%;
height: 210px;
padding-right: 10px;
}

.feed  {
width: 98%;
}

h1 {
color: #F80;
padding: 30px 0 20px;
font-size: 42px;
font-weight: 600;
letter-spacing: -1px;
text-transform: uppercase;
}

.feed b {
font-size: 12px;
color: #777;
line-height: 30px;
}

.right_cr {
    width: 300px;
    float: left;
    padding: 45px 0 0 15px;
    background-image: url(../images/side_right_bg.jpg);
    background-position: top left;
    background-repeat: no-repeat;
}



a.mm-item-link:hover

{
    background-color: #ddd;
    background-image: none;
}


#header_news_m_bg {
    height: 85px;
    margin-bottom: 5px;
}


#logo_news {
    float: left;
    height: 74px;
    margin-left: 0;
    margin-top: 4px;
    width: 173px;
    position: relative;
    left: +10px;
}

#header_t {
    height: 20px;
}


#head_news_txt {
    font-size: 28px;
    line-height: 85px;
    padding-left: 20px;
}

#header_news_m_r #edit-global-input-wrapper.form-item input {
    width: 322px;
}

.feedstyle h2.zag {font-size: 26px;color: #064356;padding: 30px 0 10px;margin: 0;}

h2 {
font-size: 20px;
padding: 8px 0 10px;
margin: 0;
display: block;
line-height: 26px;
font-weight: 300;
}

#category_menu
{padding-bottom:30px;}

#category_menu li {
    padding:0;
    margin:1px 0; }

#category_menu li a {
    display:block;
    margin:0;
    padding:5px 15px;
    color:#666;
    text-shadow:0 1px 0 white;
    background:#dfdfdf;
    text-decoration:none;
    font-size:14px;
    font-weight:700;
}

#category_menu li a:hover {
    color:#fff;
    background:#5394BF;
    text-shadow:0 -1px 0 #369;
    text-decoration:none; }


#category_menu li a.active {
    color:#fff;
    background:#5394BF;
    text-shadow:0 -1px 0 #369;
    text-decoration:none; }

ul.categories li {
    display:inline;
    border-bottom:none;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    padding:0;
    font-size:15px;
    line-height:21px; }

.item {margin:15px 20px 0 0; float: left; width: 180px; height:300px;}
.item img {width:180px; height:auto;}

.itemm {margin:15px 20px 0 0; float: left; width: 180px; height:180px;}
.itemm img {width:180px; height:134px;}


#h2.zag {
#font-size: 16px;
#color: #017498;
#padding: 8px 0;
#margin:0;
#}

.mod_nav_bg {
width: 580px;
margin: 15px 0 20px;
}

.pager{
display: block;
width: 100%;
clear: both;
}

.pager li {display:inline-block; padding:20px 15px 0 0;}


.page-photo {
max-width:97%;
}


#middle p {
padding-right:20px;
}

a, a:link, a:visited {
text-decoration: none;
}

/*a, a:link, a:visited {
color: #017498;
outline: none;
text-decoration: none;
}


.catalog {
    font-size: 33px;
    color: #064356;
    text-decoration: none;
    padding: 0;
    line-height: 45px;
}


.catalog2 {
    font-size: 16px;
    color: #017498;
    text-decoration: none;
    padding:20px 0;
}

.catalog3 {
    font-size: 13px;
    line-height: 14px;
    color: #017498;
    text-decoration: underline;
    padding:0 0 10px;
}


.catalog33 {
    font-size: 13px;
    line-height: 14px;
    color: #017498;
    text-decoration: underline;
    padding:0 0 3px;
}


.catalog4 {
    width: 610px;
    display: inline-block;
    margin-top: 10px;
}

.catalog4 {
    width: 610px;
    display: inline-block;
    margin-top: 10px;
}

.catalog5 {
    padding-bottom:30px;
    display:block;
    overflow:hidden;

}

.catalog55 {
    padding-bottom:30px;
    display:block;
    overflow:hidden;
    float:left;
    width:290px;
    padding-right:20px;
    height: 420px;
}





.catalog6 {
    border:1px solid #ddd;
    border-radius:4px;
    float:right;
    margin-left:20px;
    padding:5px;
    width:274px;
    height:154px;
}

.catalog66 {
    border:1px solid #ddd;
    border-radius:4px;
    padding:5px;
    width:290px;
    height:163px;
}


.catalog7 {
    padding:5px 0 0;
    display:block;

}

.catalog8 {
    color:#555;
    font-weight:700;

}

a.catalog99, a:link .catalog99, .catalog99
{
    padding:0;
    display:block;
    color:#ff6600;
    text-decoration:none;
}

.catalog10 {
    padding:0; margin:0 0 5px;
    display:block;
}





.box-s .content .categories {
    padding:0 0 3px 0; }

.box-s .content .categories li {
    font-size:15px; }

*/
</style>





<div class="wrapper" class="front">
    <div id="header">
        <div id="header_t">
            <!-- <div id="header_t_l">




                </div>
            <div id="header_t_c">

            </div>
            <div id="header_t_r">

                            </div> -->
            <div class="clearFloat"></div>
        </div><!-- #header_top-->
        <div id="header_news_m_bg">
            <div id="header_news_m">
                <div id="header_news_m_l">
                    <div id="logo_news">
                        <a href="/">
                            <img width="173" height="74" src="http://pages.eju.org/media/img/logopages.png" title="European Jewish Union" alt="European Jewish Union" />
                        </a>
                    </div>
                    <div id="head_news_txt">FEED</div>

                </div>
                <div id="header_news_m_r">
                </div>
            </div>
        </div>






        <!-- menu-->
        <div id="header_b_bg">
            <div id="main_menu">
                <div id="main_menu_l">
                    <ul class="megamenu" style="display: block; ">
                        <li class="mm-item" style="float: left; "><a href="http://www.eju.org" class="mm-item-link">EJU.ORG</a></li>
                        <li class="mm-item" style="float: left; "><a href="/" class="mm-item-link">{% trans "News Feed"  %}</a></li>
                        <li class="mm-item" style="float: left; "><a href="http://www.eju.org/calendar" class="mm-item-link">{% trans "Calendar" %}</a></li>
                        <li class="last mm-item" style="float: left; "><a href="http://www.eju.org/about" class="last mm-item-link">{% trans "About" %}</a></li>
                    </ul>
                </div>
                <div id="main_menu_r">
                    <div class="subscribe alignRight"><a href="http://eju.org/rss.xml" target="_blank" title="RSS"><img class="rss" src="http://www.eju.org/sites/www.eju.org/themes/ecjc_main/images/rss.gif" align="middle" width="16" height="16"></a></div>
                </div>
                <div class="clearFloat"></div>
            </div>
        </div>
        <!-- end menu-->








        <!-- #header_news_middle-->


    </div><!-- #header-->
    <div id="middle">
        <div id="container">

            <div id="content" class="center_cr">
                {% block content %}
                    content
                {% endblock %}
            </div><!-- #content-->

            <div class="sidebar right_cr" id="sideRight">
                {% block sidebar %}
                	<img src="http://www.eju.org/sites/www.eju.org/themes/ecjc_main/images/911_banner.jpg"><br><br>
<iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Feuropeanjewishunion&amp;width=300&amp;height=400&amp;show_faces=true&amp;colorscheme=light&amp;stream=false&amp;border_color=white&amp;header=false&amp;appId=303843979657009" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:400px;" allowTransparency="true"></iframe>
<br><br>
                {% endblock %}

				
            </div><!-- .sidebar#sideRight -->
        </div><!-- #container-->

    </div><!-- #middle-->
    {% block footer %}
        <div id="footer_bg_s">
            <div id="footer">


                <div id="footer_row_b">
                    <div class="item" id="cols-1fb">
                        <p class="ftitle_b">{% trans "FOLLOW US ON TWITTER" %}</p>
                        <div id="cols-1fb-twitts"><!-- #here js will be output twitts --></div>
                        <p><a href="http://twitter.com/jewisheurope"><strong>{% trans "More Twitts" %}</strong></a></p>
                    </div>
                    <div class="item" id="cols-2fb">
                        <p class="ftitle_b">{% trans "NAVIGATE" %}</p>
                        <ul class="links navigate-menu"><li class="menu-789 first"><a href="http://eju.org/" class="menu-789 first">{% trans "Main" %}</a></li>
                            <li class="menu-790 active"><a href="http://eju.org/news" class="menu-790 active">{% trans "News" %}</a></li>
                            <li class="menu-791"><a href="http://media.eju.org/videos" class="menu-791">{% trans "Video" %}</a></li>
                            <li class="menu-793"><a href="http://media.eju.org/pictures" class="menu-793">{% trans "Photo" %}</a></li>
                            <li class="menu-795"><a href="http://base.eju.org" class="menu-795">{% trans "EJU Base" %}</a></li>
                            <li class="menu-5515"><a href="http://people.eju.org" class="menu-5515">{% trans "EJU People" %}</a></li>
                            <li class="menu-797"><a href="http://blogs.eju.org" class="menu-797">{% trans "Blogs" %}</a></li>
                            <li class="menu-796"><a href="http://dating.eju.org" class="menu-796">{% trans "Dating" %}</a></li>
                            <li class="menu-794"><a href="http://job.eju.org" class="menu-794">{% trans "Job" %}</a></li>
                            <li class="menu-8589 last"><a href="http://eju.org/calendar" class="menu-8589 last">{% trans "Calendar" %}</a></li>
                        </ul>		<span id="sitemap"><a href="http://eju.org/site-map" title="Site Map">{% trans "Site Map" %}</a></span>
                          </div>
                        <div class="item" id="cols-3fb">
                        <p class="ftitle_b">{% trans "OTHER" %}</p>
                        <ul class="links other-menu"><li class="menu-787 first"><a href="http://eju.org/about" class="menu-787 first">{% trans "About EJU" %}</a></li>
                            <li class="menu-804"><a href="http://eju.org/feedback" class="menu-804">{% trans "Contact Us" %}</a></li>
                            <li class="menu-802"><a href="http://eju.org/terms" class="menu-802">{% trans "Terms and Conditions" %}</a></li>
                            <li class="menu-3366"><a href="http://eju.org/faq" class="menu-3366">{% trans "FAQs" %}</a></li>
                            <li class="menu-3351 last"><a href="http://eju.org/privacy" class="menu-3351 last">{% trans "Privacy Policy" %}</a></li>
                        </ul>	</div>
                        </div>
                        
                  
                <div class="copy">Copyright © 2011-2013 EJU. All Rights Reserved </div>
            </div><!-- #footer -->

        </div><!-- #footer_bg -->
    {% endblock %}
</div><!-- #wrapper -->



<script type="text/javascript">
$(function()
{
$('.more').live("click",function()
{
var ID = $(this).attr("id");
if(ID)
{
$("#more"+ID).html('<img src="/static/images/moreajax.gif" />');
$.get("/ajax/more/"+ID, function(data) {
            $("ol#updates").append(data);
            $("#more"+ID).remove(); // removing old more button
            });
}
else
{
$(".morebox").html('The End');// no results
}
return false;
});
});
</script>


<script type="text/javascript">
 var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-22146468-1']);
_gaq.push(['_setDomainName', 'eju.org']);
_gaq.push(['_trackPageview']);
(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>

</body>
</html>





            