{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans 'Main page' %}{% endblock %}
{% block content %}
{% load humanize %}
{% if mainnews %}
<div class="headline">
    <div class="feedstyle">
    <h1>Headlines news</h1>
    {% for headline in mainnews %}
    <div class="feed">
        <p><h2><a href="/next/{{ headline.id }}" target="_blank">{{ headline.title }}</a></h2>
        {{ headline.description|striptags|safe|truncatewords_html:30 }}<br><b>{{ headline.date|naturaltime }} - {{ headline.sitename }}</b>
        </p>
    </div>    
    {% endfor %}
    </div>
</div>    
{% endif %}
<div class="feedstyle">
<ol class="timeline" id="updates">
    {% for node in rssnodes %}
    <div class="feed">
        <p><h2><a href="/next/{{ node.id }}" target="_blank">{{ node.title }}</a></h2>
        {{ node.description|striptags|safe|truncatewords_html:30 }}<br><b>{{ node.date|naturaltime }} -  {{ node.sitename }}</b>
        </p>
    </div>
    {% endfor %}

</ol>
<div id="more{{ last_id }}" class="morebox">
<a href="#more" id="{{ last_id }}" class="more">more</a>
</div>

</div>
{% endblock%}